---
import '../styles/globals.css';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { 
  title = 'Roel Cezar Cabizares - Software Engineer & Designer', 
  description = 'Software engineer specializing in front-end development, UI/UX, and creating intuitive, dynamic user experiences. Based in the Philippines.',
  image = '/og-image.jpg' 
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content={description} />
    <meta name="robots" content="max-image-preview:large" />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cabizaresroelcezar.github.io" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://cabizaresroelcezar.github.io" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.png" />
    
    <!-- DNS Prefetch -->
    <link rel="dns-prefetch" href="//www.googletagmanager.com" />
    
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-M3KQ45N');
    </script>

    <!-- AOS (Animate On Scroll) Library -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>{title}</title>
  </head>
  <body class="bg-black text-white">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3KQ45N" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <div class="wrapper w-screen max-w-6xl mx-auto px-[7.2%]">
      <slot />
    </div>

    <!-- AOS Script -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 600,
        easing: 'ease-in-out',
        once: false,
        mirror: true,
      });
    </script>
  </body>
</html>
